/* THE TOP HEADER */

.navbar svg {
  height: 3vh;
  width: auto;
}

.nav-flex {
  display: flex;
}

.lightGray {
  color: #999999;
}

@media screen and (max-width: 700px) {
  .icons {
    display: none;
  }
  .nav-center {
    width: fit-content;
    text-align: center;
  }
}
