/* THE TOP HEADER */

.navbar svg {
  height: 3vh;
  width: auto;
}

.nav-flex {
  display: flex;
}

.lightGray {
  color: #999999;
}

@media screen and (max-width: 700px) {
  .icons {
    display: none;
  }
  .nav-flex {
    width: fit-content;
    margin: auto;
  }
}

/* HEADER */
.header {
  margin-top: 5vh;
}
.search {
  position: relative;
}

.search input {
  border: none;
  max-width: 50%;
  border-bottom: solid 1px;
}

#magnify {
  height: 3vh;
  position: absolute;
  right: 28%;
}

#home {
  height: 3vh;
}

.header-row span {
  margin-left: 20px;
}

@media screen and (max-width: 700px) {
  .header {
    display: none;
  }
}

/* SLIDER */

.slider {
  position: relative;
}

.onImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 75%;
}

@media screen and (max-width: 700px) {
  .onImage {
    top: 20%;
    left: 10%;
  }
  div.onImage :nth-child(1) {
    font-size: 1.5rem !important;
  }
}

/* DELIVERY */
.delivery {
  margin-top: 4vh;
  margin-bottom: 4vh;
  background-color: #b9a16b;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*DEALS*/
.deals {
  background-color: #f6f6f6;
  height: 25vh;
  margin-bottom: 5vh;
  padding: 25px;
}
.present {
  height: 4vh;
}

/* CIRCLES */
.circleSVG {
  height: 7.5vh;
}

.circle {
  border: solid;
  height: 12vh;
  width: 12vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PRODUCTS */
.productsSec {
  width: 80vw;
  margin: auto;
  min-height: 60vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.categories {
  width: 80vw;
  height: 2.5rem;
  display: flex;
  align-items: center;
  gap: 4vw;
  border-bottom: solid 1px #ccc;
  margin: auto;
  margin-bottom: 5vh;
}

@media screen and (max-width: 300px) {
  .categories {
    font-size: 0.9rem;
  }
}

div.categories span:hover {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: solid 1px #ccc;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  cursor: pointer;
}

.productsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 2vh;
}

.product {
  width: 200px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

div.product img {
  width: 100%;
  height: 50%;
}

.dark {
  border: none;
  padding: 2px;
  width: 80%;
  color: #ffffff;
  background-color: #000;
  align-self: center;
}

.light {
  border: solid 1px;
  padding: 2px;
  color: #000;
  background-color: #ffffff;
  width: 80%;
  align-self: center;
  margin-bottom: 2px;
}
.tax {
  color: #999999;
  font-size: 0.75rem;
}

div.product button {
  visibility: hidden;
}
